<div class="new-product">
<h1>Edit product</h1>
<% if current_user.id == @product.user_id %>

<%= form_with model:@product, url: products_path do |form| %>
  <div class="new-product-form">
  <p>
  <%= form.label :name %>
  <%= form.text_field :name %>
  </p>

  <p>
  <%= form.label :description %>
  <%= form.text_field :description %>
  </p>

  <p>
  <%= form.label :price %>
  <%= form.text_field :price %>
  </p>

  <p>
  <%= form.label :category_id %>
  <%= form.select :category_id, Category.all.collect{|c| [c.name,c.id]} %>
  </p>

  <p>
  <%= form.label :picture %>
  <%= form.file_field :picture, accept:
  'image/png,image/gif,image/jpeg,image/jpg'%>
  </p>

  <%= form.submit %>
  </div>
<% end %>

<% else %>

<h5>You are not authorized to edit this product</h5>
<% end %>

</div>