<div class="new-category-container">
<h2>Add new category</h2>
<%= form_with model:@category,url:categories_path do |form| %>
  
<p>  
<%= form.label :name %>
<%= form.text_field :name %>
</p>

<p>  
<%= form.label :image %>
<%= form.file_field :image %>
</p>

<%= form.submit %>

<% end %>
</div>
