
<div class="category-container">
<% @products.each do |product| %> 
  <div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= product.name %></h5>
    <h5 class="card-text"><%= product.description %></h5>
    <%= image_tag(product.picture,size:'260x200') if product.picture.attached? %>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <%= link_to 'View Product',products_path(product), class:'btn btn-primary' %>
    <%= link_to 'Edit Product', edit_product_path(product), class:'btn btn-success' if current_user.id == product.user_id %>
    <%= link_to 'Delete Product', products_path(product), method: :delete, confirm: {data:"Are you sure"}, class:'btn btn-danger' if current_user.id == product.user_id %>
  </div>
  </div>
<% end %>
</div>