<div class='product-page'>

        <div class="card" >
        <% if @product.picture.attached? %>
            <%= image_tag @product.picture,class:"card-img-top" %>
            <% else %>
            <%= image_tag "default.png",class:"card-img-top" %>
        <% end %>
        <div class="card-body">
            <h5 class="card-title">Name: <%= @product.name %></h5>
            <p class="card-text">Price: AU $<%= @product.price.to_i %></p>  
            <% if current_user.id != @product.user_id %>
            <button data-stripe="payment">Buy Now <%= number_to_currency(@product.price) %></button>
            <% end %>
            <script src="https://js.stripe.com/v3/"></script>

              <script>
              document
                .querySelector("[data-stripe='payment']")
                .addEventListener("click", () => {
                  const stripe = Stripe(
                    "<%= Rails.application.credentials.dig(:stripe, :public_key) %>"
                  );

                  stripe.redirectToCheckout({
                    sessionId: "<%= @session_id %>"
                  });
                });
              </script>     
        </div>
        </div>

        <div class="show-product-comments">
        <h2>Comments</h2>
        <% @product.comments.each_with_index do |comment,index| %>
        <% if index == @product.comments.length-1 %>
        <% break %>
        <% end %>
        <div class="list-group">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Comment Posted</h5>
        <small><%= comment.created_at %></small>
        </div>
        <p class="mb-1"><%= comment.comment %></p>
        <small>Posted by: <%= current_user.email %></small>
        <%= link_to "Delete Comment",comment_path(comment),method: :delete,data: {confirm: "Are you sure"} if current_user.is_admin? %>
        ..............................................................................................
        <% end %>

        <%= form_with(model:@comment,url:products_path,local:true) do |form| %>
          <p>
          <%= form.label :comment %><br>
          <%= form.text_area :comment %>
          </p>

          <p>
          <%= form.submit %>
          </p>
          
        <% end %>
      </div>
    
</div>

