<div class='product-page'>


        <div class="card" style="width: 25rem;">
        <% if @product.picture.attached? %>
            <%= image_tag(@product.picture) %>
            <% else %>
            <%= image_tag "default.png" %>
        <% end %>
        <div class="card-body">
            <h5 class="card-title">Name: <%= @product.name %></h5>
            <p class="card-text">Price: <%= @product.price %></p>  
            <%= link_to 'Buy Product', root_path, class:'btn btn-primary' %>
        </div>
        </div>


        <div class="show-product-comments">
        
        <% @comments.each do |comment| %>
        <div class="list-group">
        <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Comment Posted</h5>
        <small><%= comment.created_at %></small>
        </div>
        <p class="mb-1"><%= comment.comment %></p>
        <small>Donec id elit non mi porta.</small>
        <% end %>

        <%= form_with(model:@comment,url:products_path,local:true) do |form| %>
          <p>
          <%= form.label :comment %><br>
          <%= form.text_area :comment %>
          </p>

          <p>
          <%= form.submit %>
          </p>
          
        <% end %>
      </div>
    
</div>

