<!DOCTYPE html>
<html>
  <head>
    <title>MarketplaceApplication</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="page-container">

      <nav class="top-nav-bar">

        <div class="nav-bar-notice">
            <% if notice || alert %>
            <p class="notice"><h5><%= notice %></h5></p>
            <p class="alert"><h4><%= alert %></h4></p>
            <% end %>   
        </div>

        <div class="nav-bar-options">
            <% if user_signed_in? %>
                <% if current_user.is_admin? %>
                    <%= link_to "Show new products", categories_path,class:'btn btn-outline-warning' %>
                    <%= link_to "Add Category", categories_new_path,class:'btn btn-outline-warning' %>
                    <%= link_to "Admin Centre", categories_path,class:'btn btn-outline-warning' %>
                    <%= link_to "Logout", destroy_user_session_path, method: :delete,class:'btn btn-outline-warning' %>
                <% else %>
                <%= link_to "Buy Handicraft", categories_path,class:'btn btn-outline-warning' %>
                <%= link_to "Sell Your Handicraft", new_product_path,class:'btn btn-outline-warning' %>
                <%= link_to "My Products Listing", user_products_path,class:'btn btn-outline-warning' %>
                <%= link_to "Logout", destroy_user_session_path, method: :delete,class:'btn btn-outline-warning' %>
                <% end %>
            <% else %>
                <%= link_to "Home", root_path,class:'btn btn-outline-warning' %>
                <%= link_to "For Buyers", categories_path,class:'btn btn-outline-warning' %>
                <%= link_to "For Sellers", new_product_path,class:'btn btn-outline-warning' %>
                <%= link_to "Sign Up", new_user_registration_path,class:'btn btn-outline-warning' %>
                <%= link_to "Login", new_user_session_path,class:'btn btn-outline-warning' %>
            <% end %>
         </div>
      </nav>
  <%= yield %>
  </div>
  </body>
</html>

